* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}



.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/**** Header logo et lien****/
.banner{
    
    display: flex;
    
    flex-wrap: nowrap;
   
}
.booki{
    width: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right:5px;
    
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    
}
.heberg 
{   padding-top: 18px;
    font-size: 13px;
     left: 200px;
          
     }
     .heberg :hover{
        border-top: 2px solid #0065FC;
        padding-top: 24px;
        color: #0065FC;

     }
     
.activite{
    text-align: right;
    padding-top :18px;
    padding-left:68px;
    font-size: 13px;
    left: 200px;
}
.activite :hover{
    border-top: 2px solid #0065FC;
        padding-top: 24px;
        color: #0065FC;

}
/**** Trouver un hébergement *****/
.herbergement-rech{
    height: 281px;
}

.recherche{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.section-recherche{
    
    font-size: 20px;
    font-weight: 700 ;
    padding:0px ;
    margin:0px;
    flex-wrap: wrap;
}
.description{
    margin: 0px;
    padding-top:4px;
    font-size: 15px;
}
.form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 24px;
    width: 377px;

}
.rechercher-logo{
    width: 29px;
    height: 30px;
    background-color: #F2F2F2;
    padding-top: 15px;
    padding-bottom: 2px;
    padding-left: 18px;
    padding-right: 1px;
    border-radius: 15px 0px 0px 15px; 

}
input{
    padding-left: 16px;
    padding-right: 16px;
    color: #F2F2F2;
    border: none;
    outline: none;
}

.loupe{
    visibility:hidden;
}
form {
    padding-top: 15px ;
    background-color: white;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    
}
.villes {
    width: 150px;
    border-style: none;
    color: black;
    font-weight: bold ;
    font-size: 15px;
    opacity: 1;
   text-align: center;
}
  
.bouton {
    width:115px;
    border-radius: 0px 15px 15px 0px;
    border: #0065FC;
    background-color: #0065FC;
    color: white;
    font-weight: 500;
    font-size: medium;
    text-align: center;
}
/***** Partie filtre*****/

.recherche-filtre{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 19px;
    padding-bottom:25px;
    height:45px;
}
.filtre{
    font-weight: 600;
}
.les-filtres{
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.eco, .famille, .romantique, .pepite{
display: flex;
justify-content: space-between;
width: 163px;
margin-left: 15px;
  border-radius:25px;
  border: 2px solid #D9D9D9;
  font-weight:600;
  &:hover{
    background-color: #DEEBFF;
  }
  
}
.eco{
    margin-left: 15px;
    width: 163px;
}

.famille{
    width: 124px;
}

.romantique{
    width: 160px; 
}

.pepite{
    width: 157px;
      }


.economique, .familial, .roman, .pep{
    margin-right :20px;
    margin-top: 13px;
}

.log, .personne, .coeur, .flamme{
    margin-top:13px;
    margin-left:20px;
}


/****Information****/
.information{
    display: flex;
    flex-direction: row;
    gap:1px; 
}
#cercle{
    margin-top: 10px;
    margin-left: 2px;
    width: 25px;
    height: 25px;
    width: 24px;
    height: 24px;
    border-radius:50% 50% 50% 50% / 50% 50% 50% 50%;
    border: 1px solid #D9D9D9 ;
}

.i{position: relative;
    right: 16.5px;
    width: 4px;
   padding-top: 12px;
   
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    height: 614px;
    
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    
}


/****** Hebergements ***********/

.hebergements {
    width: 66%; 
    
}
#hebergement-marseille{
    margin: 0;
    font-size: 22px;
}
.hebergement-card img{
    width: 95%;
    height: 100px;
    padding:5px;
    border-radius: 20px 20px 0px 0px;
    object-fit:cover;
}
.hebergement-card .card-content{
    padding-left:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 16px;
  
}

   
.hebergement-card{
    display :flex;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
   
}
.cards1, .cards2, .cards3, .cards4, .cards5, .cards6 {
    background-color: white;
    width:234px;
    height: 180px;
    margin-top: 34px;
    font-size: 12px;
    border-radius: 25px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    
}
.cards5{
    width: 250px;
}


.hebergement-card .card-subtitle{
    margin: 0;
}
.hebergement-card .card-title{
    margin: 0;
    
}
.affiche{
     
    font-size: 18px;
    font-weight:600;
}
   

/****** Populaires ***********/
.populaires {
    width: 32%;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
    margin: 0;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**** Activité a Marseille ****/

.activite-card{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    gap: 30px;
}
#activite-titre{
    margin-bottom: 0;
    padding-left:30px;
    font-size: 20px;
}
.card-content{
    width: 85%;
    height: 59px;
}
.activite-card img{
    width: 100%;
    height: 380px;
    border-top-right-radius:20px;
    border-top-left-radius:20px ;
    object-fit: cover;

}

.activite1, .activite2, .activite3, .activite4{
    
    width:260px;
    margin-top: 34px;
    margin-left: 24px;
    font-size: 12px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    border-radius: 20px;
}
.activite-card-title, .activite-card-title-calanque, .activite-card-title-dame{
   padding-left: 18px;
   padding-top:12px;
}

/****Pied de page****/
footer{
    background: #F2F2F2;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 20px;
    margin-top:55px;
    
}
.title-propos, .title-hebergement, .title-assistance{
    font-size: 18px;

}

.condition, .donnes, .proposer, .contacte{
    padding-top:8px;
}
.propos, .nos-hebergement, .assistance{
    font-size: 16px;
    width: 446.67px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

@media (min-width:1440px) {
    .cards1, .cards2, .cards3, .cards4,.cards6{
        width: 250px;
    }
       .cards4, .cards5, .cards6{
        margin-left:1px;
        
       }
    .hebergement-card{
        gap: 30px;

    }
}
    

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
   
    .hebergements-and-populaires {
        flex-direction: column;
    }

   .hebergements{
    width:100%;
   }
   
   
   .cards1, .cards2, .cards3, .cards4, .cards5, .cards6{
    width: 268px;
    
   }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activite-marseille{
        height: 390.02px;
        margin-top: 340px;

    }
    .activite-card{
        width: 100%;
        height: 409px;
        margin: 0;
        padding: 0;
        gap: 0px;
    }
    .activite-card img{
        width: 195.5px;
        height: 250px;
    }
    .activite1, .activite2, .activite3, .activite4{
        width: 195.5px;
        height: 300px;
    }
    
    .card-txt{
        font-size:11px;
    }
    .activite-card-title, .activite-card-title-calanque, .activite-card-title-dame{
        padding:0;
        padding-left: 15px;
    }
    
    footer{
        margin: 0;
    }
}


@media (min-width : 768px) and (max-width: 920px){
    .booki{
        position: relative;
        bottom: 30px;
    }
    .section-recherche, .description{
        margin-left:60px;
    }
    .form{
        margin-left: 150px;
    }
    .recherche-filtre{
        width: 700px;
        margin-left: 50px;
        
    }
    .eco, .famille, .romantique, .pepite{
        font-size: 18px;
           width: 219px;
           height: 50px;
           margin-right:0px;
           margin-left: 10px;
           margin-bottom: 15px;
          padding-bottom: 4px;
       }
       .familial{
        position: relative;
        right:35px;
       }
       .personne,.pep, .log, .coeur, .flamme{
        margin-left:30px;
       }
       .information{
        margin-top: 60px;
        margin-left: 50px;
       }
       .hebergements-and-populaires section{
        width: 600px;
        margin-left: 50px;
        margin-top: 70px;
       }
       .cards1, .cards2, .cards3, .cards4, .cards5, .cards6{
        width: 260px;
       }
       
       .populaires-cards{
        width: 100%;
        display: flex;
        flex-direction: column;
       }
       .card{
        width: 400px;
       }
       .activite-marseille{
        width: 600px;
        margin-left: 50px;
        margin-top: 1050px;
       }
       .activite1, .activite2, .activite3, .activite4{
        width: 250px;
       }
       .activite-card img{
        width:250px ;

       }
       footer{
        margin-top:340px;
        margin-left: 60px;
       }

}

/* Small devices (phones, less than 768px) */
  @media (max-width: 767.98px ){
    
        .main-container{
            position: relative;
           width: 375px;
           overflow: hidden;
           overflow-y: hidden;
           overflow-y:hidden ;
           margin: 0;
        }
       .banner{
        width: 100%;
        display: flex;
        flex-direction: column;
       }
    
   .booki{
   position: relative;
    padding: 0;
    left:105px;
    height: 19px;
   
   }
   .navigation{
    padding-bottom: 20px;
   }
  
    .activite{
       padding-right: 40px;
        
    }
    .heberg{
        margin: 0px;
        padding-right:5px;
    }

    .heberg :hover{
        border-top: none;
        border-bottom: 2px solid #0065FC;
        padding-bottom:15px;

    }
    .activite :hover{
        border-top: none;
        border-bottom: 2px solid #0065FC;
        padding-bottom:15px;
    }
    .description{
        font-size: 14px;
        padding-left: 5px;
    }
    .section-recherche{
        width:240px;
        padding-left: 5px;
        justify-content: center;
       font-size: 18px;
    }
    form{
        width: 190px;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
    }
    .bouton{
        width: 49px;
        border-radius: 16px 15px 15px 16px;
        border: #0065FC;
        background-color: #0065FC;
        color: #0065FC;
        box-shadow: 0px 4px 4px 0px #00000040;
        position: relative;
        right:9px;
    
        }
        .loupe{
            visibility: inherit;
            position:relative;
            left: 246px;
            bottom: 31px;
            color: white;
        }
        
        .filtre{
           padding: 0;

        }
        .recherche-filtre{
            display: flex;
            flex-direction: column;
           padding: 0px;
            
            
        }
        .les-filtres{
            width: 100%;
            height: 141px;
            justify-content: space-between;
            
        }
        
        .eco, .famille, .romantique, .pepite{
         font-size: 11px;
            width: 119px;
            height: 30px;
            margin-right:0px;
            margin-left: 1px;
           padding-bottom: 4px;
        }
        .romantique, .pepite{
            margin-top: 10px;
        }
        .famille, .pepite{
            margin-left:10px;
        }
        .famille{
           display: flex;
           justify-content:start;
            
            
        }

        .personne{
            margin-right: 8px;
        }
        .economique, .roman, .pep{
            margin-left: 6px;
          
        }
          
        
        .information{
            margin-top: 90px;
            font-size: 13px;
            width: 301px;

        }
        .i{
           justify-content: center;
           margin-top: 3px;
        }
        #cercle{
            width: 30px;
            height: 24px;
            margin-right: 2px;
        }
        .hebergements-and-populaires section{
            position: relative;
            width:375px;
            right:65px;
            margin-top:300px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
    
            
        }
        .hebergements-and-populaires{
            display:flex;
            flex-direction: column-reverse;
            margin-top:2400px;
        }
        
        .populaires-cards{
            display: flex;
            flex-direction: column;
            border-radius: none
            ;
          
             
        }
        .card{
            position: relative;
            right :1px;
            width: 323px;
       
        }
        .hebergements-and-populaires .hebergements{
            background-color: white;
            position: relative;
            bottom: 280px;
        }
    
    .hebergements{
        margin-top: 40px;
    }
    #hebergement-marseille{
        margin-bottom: 30px;

    }
  
    .cards1, .cards2, .cards3, .cards4, .cards5, .cards6{
        width: 323px;
        margin-top: 0;
    }
    .hebergement-card {
        margin-bottom: 600px;
        padding: 0;
    }
   
    .activite-marseille{
        position: relative;
        bottom: 1200px;
        right: 60px;
    }
   .activite1, .activite2, .activite3, .activite4{
    width: 315px;
    height: 200px;
   }
   .activite-card img{
    width: 315px;
    height: 141px;

}

   
    
    footer{
        display: flex;
        flex-direction: column;
        width: 375px;
        position: relative;
        bottom: 590px;
        right: 60px;
    }
  
    
        
}